/* Columns */
.portal-page-column {
  float: left;
  display: inline;
}
.portal-page-column-inner {
  padding-bottom: 1em;
  min-height: 100px;
}
.columns-1 .column-1 {
  width: 100%;
}
.columns-2 .column-1 .portal-page-column-inner,
.columns-3 .column-1 .portal-page-column-inner,
.columns-4 .column-1 .portal-page-column-inner,
.columns-3 .column-2 .portal-page-column-inner,
.columns-4 .column-2 .portal-page-column-inner,
.columns-4 .column-3 .portal-page-column-inner {
  margin-right: 5px; 
}
.columns-2 .column-2 .portal-page-column-inner,
.columns-3 .column-3 .portal-page-column-inner,
.columns-4 .column-4 .portal-page-column-inner {
  margin-left: 5px;
}