#portalPage {
  width: 96%;
  min-width: 960px;
  margin: 0 auto;
}
#portalPageBodyInner {
  padding: 3.2em 25px 2.5em 25px;
  overflow: hidden;
}
#portalPageHeader {
  position: relative;
}
// the page top is a section above the portlet content
// and is where the portal tips currently lives
#portalContentTopBlock {}

// container in header used predominantly for the alert portlet
#portalHeaderBlock {
  background: #CCCCCC;
  
  .view-alert {
    padding-top: 0;
  }
}