// For use with the sidebar
.fl-col-mixed .fl-container-flex-left      {margin-left:200px;}
.fl-col-mixed .fl-container-flex-right     {margin-right:200px;}
.fl-col-mixed-100 .fl-container-flex-left  {margin-left:100px;}
.fl-col-mixed-100 .fl-container-flex-right {margin-right:100px;}
.fl-col-mixed-150 .fl-container-flex-left  {margin-left:150px;}
.fl-col-mixed-150 .fl-container-flex-right {margin-right:150px;}
.fl-col-mixed-200 .fl-container-flex-left  {margin-left:200px;}
.fl-col-mixed-200 .fl-container-flex-right {margin-right:200px;}
.fl-col-mixed-250 .fl-container-flex-left  {margin-left:250px;}
.fl-col-mixed-250 .fl-container-flex-right {margin-right:250px;}
.fl-col-mixed-300 .fl-container-flex-left  {margin-left:300px;}
.fl-col-mixed-300 .fl-container-flex-right {margin-right:300px;}

.sidebar-left-100 #portalNavigationSubrow ul {margin-left:120px;}
.sidebar-left-150 #portalNavigationSubrow ul {margin-left:170px;}
.sidebar-left-200 #portalNavigationSubrow ul {margin-left:220px;}
.sidebar-left-250 #portalNavigationSubrow ul {margin-left:270px;}
.sidebar-left-300 #portalNavigationSubrow ul {margin-left:320px;}
.sidebar-right-100 #portalNavigationSubrow ul {margin-right:120px;}
.sidebar-right-150 #portalNavigationSubrow ul {margin-right:170px;}
.sidebar-right-200 #portalNavigationSubrow ul {margin-right:220px;}
.sidebar-right-250 #portalNavigationSubrow ul {margin-right:270px;}
.sidebar-right-300 #portalNavigationSubrow ul {margin-right:320px;}