$default-font-family: Helvetica, Verdana, san-serif !default;

body {
  margin: 0;
  padding: 0;
  font-family: $default-font-family;
  font-size: 14px;
  line-height: 1.5;
}
form input[type="checkbox"] {
  margin-right: 0.5em;
}
fieldset input[type="checkbox"] {
  margin-bottom: 1em;
}