@mixin hide-off-screen() { 
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin hlist() {
  margin: 0;
  
  > li {
    padding: 0 5px;
    list-style: none;
    display: inline-block;
  }
}

@mixin links($color, $hover-color) {
  a {
    text-decoration: none;
    
    &:link,
    &:visited {
      color: $color;
    }
    &:hover {
      color: $hover-color;
    }
    
    @content
  }
}