#portalPageBodyBreadcrumb {
  color: #dcdcdc;
  font-weight: normal;
  @include links(#a9a9a9, #8f8f8f);
}
#portalPageBodyBreadcrumb .breadcrumb-separator {
  // TODO: remove the span tag from markup and
  // use the content property on :before
  padding: 0 0.5em;
}
#portalPageBodyBreadcrumb .breadcrumb-separator:last-child {
  // ...and :first-child here instead
  display: none;
}