.breadcrumb-separator {
  padding:0 0.5em;
}
#portalPageBodyBreadcrumb {
  /* Breadcrumb */
  color: #dcdcdc;
}
#portalPageBodyBreadcrumb a {
  font-weight: normal;
  color: #a9a9a9;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: #8f8f8f;
  }
}