.button,
button {
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 7px 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  
  &[disabled='disabled'],
  &[disabled='disabled']:hover {
    background: #dcdcdc;
    border-color: #a9a9a9;
    color: #a9a9a9;
    text-shadow: none;
    cursor: default;
  }
}

// For example of the toolbar button, see Cache Manager
.portlet .toolbar .button,
.portlet .toolbar a.button {
	border-color:#ccc;
	background-color:#e2e8e7;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 50%, from(#e2e8e7), to(#fff)); 
	background-image:-moz-linear-gradient(0% 50% 90deg, #e2e8e7, #fff);
	color:#555 !important;
	text-shadow:none;
}
.portlet .toolbar .button:hover,
.portlet .toolbar .button:focus,
.portlet .toolbar a.button:hover,
.portlet .toolbar a.button:focus,
.portlet .toolbar input[type="submit"]:hover,
.portlet .toolbar input[type="submit"]:focus,
.portlet .toolbar input[type="button"]:hover,
.portlet .toolbar input[type="button"]:focus {
	border-color:#000;
	background-color:#666;
  background-image:-webkit-gradient(linear, 0% 0%, 0% 50%, from(#666), to(#999)); 
  background-image:-moz-linear-gradient(0% 50% 90deg, #666, #999);
	color:#fff !important;
	text-shadow:0 -1px 1px rgba(0,0,0,.5); 
}