#guestLocaleSelection .portlet .portlet-form {
  background-color: #fff; 
  border: none; 
  width: auto; 
}
#guestLocaleSelection .portlet .portlet-form li { 
  margin:0 0 5px 30px; 
}
#guestLocaleSelection .portlet .portlet-form form .buttons { 
  margin: 0 0 0 50px; 
}