#portalPageHeader #portalLogin {
  width: 10em;
  position: absolute;
  top: 1.5em;
  right: 25px;
  
  .fl-widget-titlebar {
    display: none;
  }
  .fl-widget-content {
    margin: 0;
    padding: 0;
    background: transparent;
  }
}
#portalPageHeader #portalLogin .fl-widget-content {
  text-align: center;
}