#portalPageHeader #portalLogin {
  width: 10em;
  position: absolute;
  top: 1.5em;
  right: 25px;
  
  .fl-widget-titlebar {
    display: none;
  }
  .fl-widget-content {
    margin: 0;
    padding: 0;
    background: transparent;
  }
}
#portalPageHeader #portalLogin .fl-widget-content {
  // TODO: use better classes to target the differences between
  // the login in the header and the login in the sidebar i.e.
  // `login` module with `login-sidebar` submodule
  text-align: center;
}