#portalNavigationInner {
  position: relative;
}
#portalNavigationList a {
  background: transparent;
  border: none;
  margin: 0;
  color: #333;
}
#portalNavigationList {
  margin: 0 0 0 25px;
  padding: 0;
  zoom: 1;
  text-align: left;
  border: none;
}
#portalNavigationList:before, 
#portalNavigationList:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
#portalNavigationList:after {
  clear: both;
}
#portalNavigationList .portal-navigation,
#portalNavigationList .portal-navigation-add {
  float: left;
  display: inline-block;
  position: relative;
  padding: 0;
}
#portalNavigationList .portal-navigation-link,
#portalNavigationList .portal-navigation-add {
  display: block;
  text-decoration: none;
  padding: 8px 20px;
}
#portalNavigationList .portal-navigation-add {
  float: right;
}
#portalNavigationList .fl-inlineEditContainer {
  padding: 8px 20px;
}
#portalNavigationList .portal-navigation-delete,
#portalNavigationList .active .portal-navigation-gripper {
  display: block; 
  position: absolute;
  border: none;
}
#portalNavigationList .portal-navigation-delete,
#portalNavigationList .portal-navigation-delete span,
#portalNavigationList .active .portal-navigation-gripper,
#portalNavigationList .active .portal-navigation-gripper span {
  display: block; 
  width: 16px; 
  height: 16px; 
  overflow: hidden;
}
#portalNavigationList .portal-navigation-gripper {
  // TODO: find out why there isn't a display none style on
  // portal-navigation-delete as well and why it's missing
  // from the DOM on non-active tabs while gripper is not
  display: none;
}
#portalNavigationList .active .portal-navigation-gripper {
  top: 0; 
  left: 0; 
  cursor: move; 
  background: transparent url("../common/images/gripper.png") 0px 0px no-repeat; 
  padding: 0;
}
#portalNavigationList .portal-navigation-delete {
  top: 0; 
  right: 0; 
  cursor: pointer; 
  background: transparent url("../common/images/remove.png") 0px 0px no-repeat; 
  padding: 0;
}
#portalNavigationList .portal-navigation-delete:hover {
  background-position: 0 -16px;
}
#portalNavigationList .portal-navigation-delete span,
#portalNavigationList .active .portal-navigation-gripper span {
  visibility: hidden;
}
#portalNavigationList .fl-reorderer-header-avatar .portal-navigation-gripper {
  background: transparent url("../common/images/gripper.png") 0px 0px no-repeat;
}
#portalNavigationList .fl-reorderer-header-avatar .portal-navigation-delete {
  background: transparent url("../common/images/remove.png") 0px 0px no-repeat;
}
#portalNavigationList .portal-flyout-container {
  background: white;
  width: 200px;
  position: absolute; 
  z-index: 100000; 
  display: none;
}
#portalNavigationList .portal-subnav-list {
  margin: 0;
}
#portalNavigationList .portal-subnav-list li {
  display: list-item; 
  position: static; 
  padding: 0; 
  list-style: none;
}
#portalNavigationList .portal-subnav-list li a {
  display: block; 
  padding: 0.7em 2em;
}
#portalNavigationList .portal-subnav-list li:first-child a {
  border: none;
}
#portalNavigationList .fl-inlineEdit-editModeInstruction {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// -----------------------------
// TODO: fint out what this is and what to do with it

#portalNavigationSubrow {
  padding: 0.5em 0;
}
#portalNavigationSubrow li {
  list-style-type: none;
  display: inline;
}
#portalNavigationSubrow a {
  padding: 0em 1em;
}