/* Edit Permisssions */
#editPagePermissionsLink {
  float: right; 
  display: block;
  margin-top: .75em;
  margin-right: 2em;
}

/* Page Permissions */
#portalEditPagePermissions {
  /* Edit page Permisssions */
  float: right;
  display: block;
  margin-top: .75em;
  margin-right: 25px;
}
#portalEditPagePermissions .button {
  border-color: #c3c3c3;
  background: #f5f5f5;
  color: #5c5c5c;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  background-image: -moz-linear-gradient(top, white, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #f5f5f5));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#f5f5f5')";
  background-image: linear-gradient(top, white, #f5f5f5);
  
  &:hover,
  &:focus {
    border-color: #8f8f8f;
    background: #a9a9a9;
    color: #5c5c5c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #dcdcdc));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#dcdcdc')";
    background-image: linear-gradient(top, #f5f5f5, #dcdcdc);
  }
  &:active {
    border-color: #8f8f8f;
    background: #8f8f8f;
    color: #5c5c5c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    background-image: -moz-linear-gradient(top, #dcdcdc, #2e8b57);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dcdcdc), color-stop(1, #2e8b57));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dcdcdc', EndColorStr='#2e8b57')";
    background-image: linear-gradient(top, #dcdcdc, #2e8b57);
  }
}
.column-permissions {
  margin-bottom: 0.5em;
}
.column-permissions .button {
  border-color: #c3c3c3;
  background: #f5f5f5;
  color: #5c5c5c;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  background-image: -moz-linear-gradient(top, white, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #f5f5f5));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#f5f5f5')";
  background-image: linear-gradient(top, white, #f5f5f5);
  
  &:hover,
  &:focus {
    border-color: #8f8f8f;
    background: #a9a9a9;
    color: #5c5c5c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #dcdcdc));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#dcdcdc')";
    background-image: linear-gradient(top, #f5f5f5, #dcdcdc);
  }
  &:active {
    border-color: #8f8f8f;
    background: #8f8f8f;
    color: #5c5c5c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    background-image: -moz-linear-gradient(top, #dcdcdc, #2e8b57);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dcdcdc), color-stop(1, #2e8b57));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dcdcdc', EndColorStr='#2e8b57')";
    background-image: linear-gradient(top, #dcdcdc, #2e8b57);
  }
}
