#webSearchContainer {
  position: absolute;
  top: 4em;
  right: 25px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  
  .fl-widget-titlebar {
    display: none;
  }
  .fl-widget-content {
    margin: 0;
    padding: 0;
    background: transparent;
  }
}
#webSearchInput {
  margin: 0;
}
#webSearchInput,
#webSearchSubmit {
  float: left;
}