#webSearchContainer {
  position: absolute;
  top: 4em;
  right: 25px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  @include strip-fl-widget();
}
#webSearchInput {
  margin: 0;
}
#webSearchInput,
#webSearchSubmit {
  float: left;
}