// Subnav
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu .fl-activemenu .portal-subnav-list a {
  background: #294d6b;
  color: #8db3d3;
  padding-left: 40px; 
  padding-bottom: 7px; 
  background-position: 1.7em 0.5em;
  font-size: 83%;
}
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu .fl-activemenu .portal-subnav-list a:hover, 
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu .fl-activemenu .portal-subnav-list a:focus {
  background: #783d05;
  color: white;
}

// Sidebar Navigation
#portalSidebar #portalNavigation .portal-navigation-add,
#portalSidebar #portalNavigation .portal-navigation-delete,
#portalSidebar #portalNavigation .portal-navigation-gripper {
  display: none;
}
#portalSidebar #portalNavigation .active .portal-navigation-gripper {
  display: block; 
  position: absolute; 
  text-decoration: none; 
  border: none;
  top: 0; 
  left: auto; 
  right: 18px; 
  cursor: move; 
  background: transparent url("../images/gripper.png") 0px 0px no-repeat; 
  padding: 0;
}
#portalSidebar #portalNavigation .portal-navigation-delete {
  top: 0; 
  right: 0; 
  cursor: pointer; 
  background: transparent url("../images/remove.png") 0px 0px no-repeat; 
  padding: 0;
}
#portalSidebar #portalNavigation .portal-navigation-add {
  height: 16px; 
  top: 1px; 
  left: auto; 
  right: 2px; 
  padding: 0px 0px 0px 16px;
  color: #FFF;
  text-transform: capitalize;
  background: transparent url("../images/add.png") 0px 0px no-repeat;
}

// Avatar
.fl-reorderer-sidebar-avatar {
  display: inline; 
  position: relative; 
  padding: 5px 0 5px 20px; 
  width: 150px; 
  height: 30px; 
  overflow: hidden; 
  cursor: pointer; 
  filter:alpha(opacity=70); 
  opacity:.7;
  background: black;
  border: 2px solid #F68922; 
  border-radius: 5px;
  -moz-box-shadow: 0px, 0px, 4px, #333333;
  -webkit-box-shadow: 0px, 0px, 4px, #333333;
  box-shadow: 0px, 0px, 4px, #333333;
}
.fl-reorderer-sidebar-avatar .portal-navigation-link {
  color: #222222 !important; 
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.fl-reorderer-sidebar-avatar .portal-navigation-delete {
  top: 0px; 
  right: 0px; 
  cursor: pointer; 
  background: transparent url("../images/remove.png") 0px 0px no-repeat;
}
.fl-reorderer-sidebar-avatar .portal-navigation-gripper {
  top: 0px; 
  left: auto; 
  right: 18px; 
  cursor: move; 
  background: transparent url("../images/gripper.png") 0px 0px no-repeat;
}
.fl-reorderer-sidebar-avatar .portal-navigation-delete,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper {
  display: block; 
  position: absolute; 
  padding: 0; 
  border: none; 
  text-decoration: none;
}
#portalSidebar #portalNavigation .portal-navigation-add:hover,
#portalSidebar #portalNavigation .portal-navigation-delete:hover {
  background-position: 0px -16px;
}
.fl-reorderer-sidebar-avatar .portal-navigation-delete,
.fl-reorderer-sidebar-avatar .portal-navigation-delete span,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper span {
  display: block; 
  width: 16px; 
  height: 16px; 
  overflow: hidden;
}
#portalSidebar #portalNavigation .portal-navigation-delete span,
#portalSidebar #portalNavigation .portal-navigation-gripper span {
  visibility: hidden;
}
.fl-reorderer-sidebar-avatar .portal-flyout-container, 
.up .fl-reorderer-sidebar-avatar .portal-subnav-list { 
  display: none !important;
}
.fl-reorderer-sidebar-dropMarker {
  display: inline-block;
  border: 1px solid #d26600 !important; 
  background-color: #F68922 !important; 
  margin: 0 2px !important; 
  filter:alpha(opacity=80) !important;
  opacity:.8 !important; 
  padding: .31em 1em !important; 
  *display: inline !important; 
  *height: 10px; 
  *padding: 0em .13em !important; 
  *zoom: 1 !important;
}