body { 
  border-color: #4070a1;
}
a {
  color: #5a95cf; 
  
  &:hover {
    color: #6DB5FB;
  }
}
h1 {
  // portalPageBodyTitleRow 
  color: #4070a1;
  border-bottom-width: .2em;
  border-bottom-style: solid;
}
h2 {
  color: #5a95cf;
}
th {
  border: .1em solid #5a95cf;
  background-color: #dfefff;
}
td {
  border: .1em solid #999;
}
span input {
  background-color: #dfefff;
  border: .1em solid #5a95cf; margin:-0.1em;
}

/* Apply baseline button styling once to every kind of button. */
.button, 
button, 
input[type='submit'], 
input[type='button'] {
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0, 1px, 3px, rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0, 1px, 3px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 1px, 3px, rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(top, #CCCCCC, #555555);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CCCCCC), color-stop(1, #555555));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCCCCC', EndColorStr='#555555')";
  background-image: linear-gradient(top, #CCCCCC, #555555);
  
  &:hover,
  &:focus {
    border-color: #294d6b;
    background: #699bc4;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #8db3d3, #294d6b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8db3d3), color-stop(1, #294d6b));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8db3d3', EndColorStr='#294d6b')";
    background-image: linear-gradient(top, #8db3d3, #294d6b);
  }
  &:active {
    border-color: #294d6b;
    background: #4682b4;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
    background-image: linear-gradient(top, #4682b4, #294d6b);
  }
}

/* Form styles.
 * Gives form elements a consistent look across the portal.
 * Pass in the desired type of form based on the context.
 */
/* Use variables to store selectors. */
/* Apply baseline form element styling. */
form input[type='text'], 
form input[type='email'], 
form input[type='tel'], 
form input[type='url'], 
form input[type='search'], 
form input[type='password'], 
form select, 
form textarea {
  font-family: serif;
  border: 1px solid #a9a9a9;
  font-size: 14px;
}
form input[type='text'], 
form input[type='email'], 
form input[type='tel'], 
form input[type='url'], 
form input[type='search'], 
form input[type='password'], 
form textarea {
  padding: 0.2em 0.4em;
  line-height: 1.4;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
}
form select {
  padding: 0.1em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}
form select:focus, 
form input[type='text']:focus, 
form input[type='email']:focus, 
form input[type='tel']:focus, 
form input[type='url']:focus, 
form input[type='search']:focus, 
form input[type='password']:focus, 
form select:focus, 
form textarea:focus {
  -moz-box-shadow: 0 0 10px #699bc4;
  -webkit-box-shadow: 0 0 10px #699bc4;
  box-shadow: 0 0 10px #699bc4;
  outline: none;
}