.portal-pipe {
  padding:0 0.5em;
}

#portalPageFooter {
  background: #282d33;
  color: #767676;
  font-size: 80%;
}
#portalPageFooter a {
  color: #a9a9a9;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: #699bc4;
  }
}
#portalPageFooter p {
  margin-bottom: 0;
}
#portalPageFooter #portalPageFooterContent {
  margin: 0 auto;
  padding: 25px;
  background: transparent url("../common/images/portal_poweredby.png") 25px 65px no-repeat;
}
#portalPageFooter #portalPageFooterNav {
  background: #1E2126;
  font-size: 10px;
  padding: 25px;
}
#portalPageFooter #portalPageFooterNav .fl-container-flex {
  margin: 0 auto;
}
#portalPageFooter #portalPageFooterNav div > a {
  font-weight: bold;
}
#portalPageFooter #portalPageFooterNav div > a:link {
  color: #fff;
}
#portalPageFooter #portalPageFooterNav div > a:visited {
  color: #fff;
}
#portalPageFooter #portalPageFooterNav div > a:hover {
  color: #699bc4;
}
#portalPageFooter #portalPageFooterNav .fl-col {
  margin-left: 0;
  margin-right: 0.50%;
  padding: 0;
}
#portalPageFooter #portalPageFooterNav ul {
  margin: 0;
  padding-top: 12px;
}
#portalPageFooter #portalPageFooterNav ul li {
  list-style: none;
  line-height: 1.5em;
}
#portalPageFooter #portalPageFooterLinks {
  margin: 0 0 2em 0;
}
#portalPageFooter #portalPageFooterLinks a {
  color: white;
  font-weight: bold;
}
#portalPageFooter #portalPageFooterLinks a:hover, #portalPageFooter #portalPageFooterLinks a:focus {
  color: #699bc4;
}
#portalPageFooter #portalProductAndVersion, #portalPageFooter #portalCopyright, #portalPageFooter #silkIconsAttribution {
  margin: 0 0 0 120px;
}