#portalNavigation {
  background: #282d33;
  background-image: -moz-linear-gradient(top, #3e4650, #121416);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e4650), color-stop(1, #121416));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3e4650', EndColorStr='#121416')";
  background-image: linear-gradient(top, #3e4650, #121416);
}
#portalNavigation .portal-navigation {
  /* Each tab list item. */
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background: #282d33;
  background-image: -moz-linear-gradient(top, #282d33, #3e4650, #3e4650 50%, #121416 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#282d33), to(#3e4650), color-stop(0.5, #3e4650), color-stop(0.5, #121416));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#282d33', EndColorStr='#121416')";
  background-image: linear-gradient(top, #282d33, #3e4650, #3e4650 50%, #121416 0%);
}
#portalNavigation .portal-navigation .portal-navigation-link {
  /* Anchor tag within the list item. */
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}
#portalNavigation .portal-navigation:hover, 
#portalNavigation .portal-navigation:focus {
  background: #3e4650;
  background-image: -moz-linear-gradient(top, #3e4650, #6b7989, #6b7989 50%, #282d33 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e4650), to(#6b7989), color-stop(0.5, #6b7989), color-stop(0.5, #282d33));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3e4650', EndColorStr='#282d33')";
  background-image: linear-gradient(top, #3e4650, #6b7989, #6b7989 50%, #282d33 0%);
}
#portalNavigation .portal-navigation:hover .portal-navigation-link, 
#portalNavigation .portal-navigation:focus .portal-navigation-link {
  /* Anchor tag within the list item. */
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
}
#portalNavigation .active {
  background: #f58821;
  background-image: -moz-linear-gradient(top, #f58821, #f7a252, #f7a252 50%, #d96f0a 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58821), to(#f7a252), color-stop(0.5, #f7a252), color-stop(0.5, #d96f0a));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f58821', EndColorStr='#d96f0a')";
  background-image: linear-gradient(top, #f58821, #f7a252, #f7a252 50%, #d96f0a 0%);
}
#portalNavigation .active .portal-navigation-link {
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
}
#portalNavigation .active:hover {
  background: #f7a252;
  background-image: -moz-linear-gradient(top, #f7a252, #fcd6b3, #fcd6b3 50%, #f58821 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7a252), to(#fcd6b3), color-stop(0.5, #fcd6b3), color-stop(0.5, #f58821));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7a252', EndColorStr='#f58821')";
  background-image: linear-gradient(top, #f7a252, #fcd6b3, #fcd6b3 50%, #f58821 0%);
}
#portalNavigation .active:hover .portal-navigation-link {
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
}
#portalNavigation .portal-flyout-container {
  /* Flyout menus. */
  background: #282d33;
  background-image: -moz-linear-gradient(top, false, false);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, false), color-stop(1, false));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='false', EndColorStr='false')";
  background-image: linear-gradient(top, false, false);
  border: 4px solid #121416;
  border-top-width: 1px;
  -moz-border-radius: 0 0 0.6em 0.6em;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0.6em;
  -webkit-border-bottom-left-radius: 0.6em;
  border-radius: 0 0 0.6em 0.6em;
  -moz-box-shadow: 2px 4px 6px #767676;
  -webkit-box-shadow: 2px 4px 6px #767676;
  box-shadow: 2px 4px 6px #767676;
}
#portalNavigation .portal-flyout-container li {
  border-top: 1px solid #282d33;
  background-color: white;
  color: #121416;
  font-size: 85%;
}
#portalNavigation .portal-flyout-container li a {
  text-decoration: none;
}
#portalNavigation .portal-flyout-container li a:hover, 
#portalNavigation .portal-flyout-container li a:focus {
  background: #38678f;
  color: white;
}
#portalNavigation .portal-navigation-add {
  border: 1px solid #3e4650;
  color: white;
  font-size: 86%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 4px;
  right: 2em;
  padding: 4px 8px 2px 20px;
  background: url("../common/images/add.png") no-repeat 5px 5px;
}
#portalNavigation .portal-navigation-add:hover, 
#portalNavigation .portal-navigation-add:focus {
  background-color: #3e4650;
  color: white;
}
#portalNavigation li.portal-navigation-add-item {
  background: transparent none;
  border: 0;
}
#portalNavigation .fl-reorderer-header-avatar {
  background-color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px, 0px, 4px, #333333;
  -webkit-box-shadow: 0px, 0px, 4px, #333333;
  box-shadow: 0px, 0px, 4px, #333333;
}
#portalNavigation .fl-reorderer-header-avatar .portal-navigation-link {
  color: white;
  font-weight: bold;
}