
/* Portlet Wrappers */
.up-portlet-wrapper {margin-bottom:1em;}
.up-portlet-titlebar {position:relative;}
.up-portlet-titlebar h2 {margin:0; padding:2px 20px 3px 20px;}
.up-portlet-controls {position:absolute; top:4px; right:0;}
.up-portlet-content-wrapper {padding:1em;}
/* No Chrome */
.fl-widget.no-chrome .up-portlet-titlebar {display:none;}
.fl-widget.no-chrome,
.fl-widget.no-chrome .up-portlet-content-wrapper {padding:0; border:none; background:none;}

//-----------------------------------------------------

.up-portlet-wrapper {
  /* Portlet chrome. */
  padding: 5px;
  background: #f5f5f5 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
  border: 1px solid #dcdcdc;
  background-image: -moz-linear-gradient(top, white, #f5f5f5 65px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f5f5f5), color-stop(0.1, white));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#f5f5f5')";
  background-image: linear-gradient(top, white, #f5f5f5 65px);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.up-portlet-wrapper .up-portlet-titlebar h2 a {
  color: #a9a9a9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.up-portlet-wrapper .up-portlet-titlebar h2 a:hover, .up-portlet-wrapper .up-portlet-titlebar h2 a:focus {
  color: #4682b4;
}
.up-portlet-wrapper .up-portlet-content-wrapper {
  background: white;
  border: 1px solid #dcdcdc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.up-portlet-wrapper .up-portlet-wrapper-top,
.up-portlet-wrapper .up-portlet-wrapper-bottom {
  /* These extra containers are available for additional styling (like rounded corners with images). 
   * This skin does not use them, so hide them from view. */
  display: none;
}
.up-portlet-wrapper .up-portlet-titlebar {
  /* Prevent portlet titles from wrapping. */
  white-space: nowrap;
}
.up-portlet-wrapper .up-portlet-titlebar h2 {
  padding: 0 0 3px 0.5em;
  font-size: 100%;
  font-weight: normal;
  text-transform: uppercase;
}
.up-portlet-wrapper .up-portlet-titlebar h2 a {
  text-decoration: none;
}
.up-portlet-wrapper .up-portlet-titlebar .up-portlet-controls {
  top: 0;
  padding: 0 0.5em 0 0;
}
.up-portlet-wrapper .up-portlet-titlebar .up-portlet-control {
  font-size: 90%;
  color: #4682b4;
}
.up-portlet-wrapper .up-portlet-titlebar .up-portlet-control:hover, .up-portlet-wrapper .up-portlet-titlebar .up-portlet-control:focus {
  color: #294d6b;
}
.up-portlet-wrapper .up-portlet-titlebar .up-portlet-control .icon {
  display: block;
  float: left;
  height: 16px;
  width: 16px;
  background-image: url("../common/images/portlet_icons_flat.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.up-portlet-wrapper .up-portlet-titlebar .focus .icon {
  background-position: -0px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .focus:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .focus:focus .icon {
  background-position: -0px -16px;
}
.up-portlet-wrapper .up-portlet-titlebar .edit .icon {
  background-position: -16px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .edit:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .edit:focus .icon {
  background-position: -16px -16px;
}
.up-portlet-wrapper .up-portlet-titlebar .info .icon {
  background-position: -32px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .info:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .info:focus .icon {
  background-position: -32px -16px;
}
.up-portlet-wrapper .up-portlet-titlebar .help .icon {
  background-position: -48px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .help:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .help:focus .icon {
  background-position: -48px -16px;
}
.up-portlet-wrapper .up-portlet-titlebar .remove .icon {
  background-position: -64px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .remove:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .remove:focus .icon {
  background-position: -64px -16px;
}
.up-portlet-wrapper .up-portlet-titlebar .add .icon {
  background-position: -80px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .add:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .add:focus .icon {
  background-position: -80px -16px;
}
.up-portlet-wrapper .up-portlet-titlebar .permissions .icon {
  background-position: -96px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .permissions:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .permissions:focus .icon {
  background-position: -96px -16px;
}
.up-portlet-wrapper .up-portlet-titlebar .show-content .icon {
  background-position: -112px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .show-content:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .show-content:focus .icon {
  background-position: -112px -16px;
}
.up-portlet-wrapper .up-portlet-titlebar .hide-content .icon {
  background-position: -128px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .hide-content:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .hide-content:focus .icon {
  background-position: -128px -16px;
}
.up-portlet-wrapper .up-portlet-titlebar .return .icon {
  background-position: -144px 0px;
}
.up-portlet-wrapper .up-portlet-titlebar .return:hover .icon, .up-portlet-wrapper .up-portlet-titlebar .return:focus .icon {
  background-position: -144px -16px;
}
.up-portlet-wrapper .up-portlet-content-wrapper {
  margin: 0;
}
.up-portlet-wrapper.no-chrome, .up-portlet-wrapper.no-chrome .up-portlet-content-wrapper {
  /* A portlet that has been flagged to have no chrome - "Just the content, please." */
  padding: 0;
  background: none;
  border: none;
}
.up-portlet-wrapper.alternate {
  /* A portlet that has been flagged to have the alternate styling of portlet chrome.*/
  background: #b2cce1 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
  border: 1px solid #699bc4;
  background-image: -moz-linear-gradient(top, white, #b2cce1 65px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#b2cce1), color-stop(0.1, white));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#b2cce1')";
  background-image: linear-gradient(top, white, #b2cce1 65px);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.up-portlet-wrapper.alternate .up-portlet-titlebar h2 a {
  color: #38678f;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.up-portlet-wrapper.alternate .up-portlet-titlebar h2 a:hover, .up-portlet-wrapper.alternate .up-portlet-titlebar h2 a:focus {
  color: #4682b4;
}
.up-portlet-wrapper.alternate .up-portlet-content-wrapper {
  background: white;
  border: 1px solid #699bc4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.up-portlet-wrapper.highlight {
  /* A portlet that has been flagged to have the highlight styling of portlet chrome. */
  background: #a85608 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
  border: 1px solid #a85608;
  background-image: -moz-linear-gradient(top, #f58821, #a85608 65px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58821), to(#a85608), color-stop(0.1, #f58821));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f58821', EndColorStr='#a85608')";
  background-image: linear-gradient(top, #f58821, #a85608 65px);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.up-portlet-wrapper.highlight .up-portlet-titlebar h2 a {
  color: #783d05;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.up-portlet-wrapper.highlight .up-portlet-titlebar h2 a:hover, .up-portlet-wrapper.highlight .up-portlet-titlebar h2 a:focus {
  color: #f9bc83;
}
.up-portlet-wrapper.highlight .up-portlet-content-wrapper {
  background: #fcd6b3;
  border: 1px solid #a85608;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.up-portlet-wrapper.locked {
  /* A portlet that has been locked (cannot be moved or removed). */
  background: #dcdcdc url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
  border: 1px solid #a9a9a9;
  background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc 65px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dcdcdc), color-stop(0.1, #f5f5f5));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#dcdcdc')";
  background-image: linear-gradient(top, #f5f5f5, #dcdcdc 65px);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.up-portlet-wrapper.locked .up-portlet-titlebar h2 a {
  color: #8f8f8f;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.up-portlet-wrapper.locked .up-portlet-titlebar h2 a:hover, .up-portlet-wrapper.locked .up-portlet-titlebar h2 a:focus {
  color: #4682b4;
}
.up-portlet-wrapper.locked .up-portlet-content-wrapper {
  background: white;
  border: 1px solid #a9a9a9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.up-portlet-wrapper.locked .up-portlet-titlebar h2 {
  padding-left: 21px;
  background: transparent url("/ResourceServingWebapp/rs/tango/0.8.90/16x16/emblems/emblem-readonly.png") 0 0 no-repeat;
}
.dashboard .up-portlet-controls {
  top: 0;
  padding: 0 0.5em 0 0;
}
.dashboard .up-portlet-control {
  display: block;
  float: left;
  padding: 0;
}
.dashboard .up-portlet-control .label {
  display: none;
}
.focused {
  /* A portlet when in the focused view. */
}
.focused .up-portlet-controls .up-portlet-control {
  display: inline-block;
  margin-left: 1.5em;
  text-decoration: none;
}
.focused .up-portlet-controls .icon {
  margin-right: 3px;
}
.focused .up-portlet-controls .label {
  float: left;
}