#portalQuicklinks ul, 
#portalQuicklinks li {
  margin: 0;
  padding: 0;
}

/* Custom fl classes for use with the Sidebar. */
.fl-col-mixed .fl-container-flex-left      {margin-left:200px;}
.fl-col-mixed .fl-container-flex-right     {margin-right:200px;}
.fl-col-mixed-100 .fl-container-flex-left  {margin-left:100px;}
.fl-col-mixed-100 .fl-container-flex-right {margin-right:100px;}
.fl-col-mixed-150 .fl-container-flex-left  {margin-left:150px;}
.fl-col-mixed-150 .fl-container-flex-right {margin-right:150px;}
.fl-col-mixed-200 .fl-container-flex-left  {margin-left:200px;}
.fl-col-mixed-200 .fl-container-flex-right {margin-right:200px;}
.fl-col-mixed-250 .fl-container-flex-left  {margin-left:250px;}
.fl-col-mixed-250 .fl-container-flex-right {margin-right:250px;}
.fl-col-mixed-300 .fl-container-flex-left  {margin-left:300px;}
.fl-col-mixed-300 .fl-container-flex-right {margin-right:300px;}

/* Navigation */
.sidebar-left-100 #portalNavigationSubrow ul {margin-left:120px;}
.sidebar-left-150 #portalNavigationSubrow ul {margin-left:170px;}
.sidebar-left-200 #portalNavigationSubrow ul {margin-left:220px;}
.sidebar-left-250 #portalNavigationSubrow ul {margin-left:270px;}
.sidebar-left-300 #portalNavigationSubrow ul {margin-left:320px;}
.sidebar-right-100 #portalNavigationSubrow ul {margin-right:120px;}
.sidebar-right-150 #portalNavigationSubrow ul {margin-right:170px;}
.sidebar-right-200 #portalNavigationSubrow ul {margin-right:220px;}
.sidebar-right-250 #portalNavigationSubrow ul {margin-right:270px;}
.sidebar-right-300 #portalNavigationSubrow ul {margin-right:320px;}

/* Sidebar */
#portalSidebar {
  padding: 0;
}
#portalSidebarInner {
  padding: 0 1em 2em 1em;
}
/* Sidebar Widgets & Navigation*/
#portalSidebar .fl-widget {
  padding: 7px;
  font-size: 85%;
}
#portalSidebar .fl-widget .fl-widget-titlebar { 
  margin: 0;
}
#portalSidebar .fl-widget .fl-widget-titlebar h2 {
  font-size: 1em;
  font-weight: bold;
  border: none;
}
#portalSidebar .fl-widget-content,
#portalSidebar .fl-widget .fl-listmenu {
  padding: .1em; 
  border-width: 0px; 
  border-bottom-width: 1px;
}
#portalSidebar .fl-widget .fl-listmenu ul {
  margin: 0;
}
#portalSidebar .fl-widget .fl-listmenu a {
  padding-left: 28px;
  background-image: url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/application.png);
  background-position: 0.5em 0.5em; 
  background-repeat: no-repeat;
}
#portalSidebar .fl-widget .fl-listmenu #portletNavigationLinkHome a {
  background-image: url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/house.png);
}
#portalSidebar .fl-widget .fl-listmenu li,
#portalSidebar .fl-widget .fl-listmenu li a {
  overflow: visible; 
  *overflow: hidden; 
  border: none;
}
#portalSidebar .fl-widget .fl-listmenu li {
  border: none; position: relative;
}
#portalSidebar .fl-widget .fl-listmenu li.first {
  border-left: none;
}
#portalSidebar .fl-widget .fl-listmenu li:hover,
#portalSidebar .fl-widget .fl-listmenu li:focus,
#portalSidebar .fl-widget .fl-listmenu li a:hover,
#portalSidebar .fl-widget .fl-listmenu li a:focus {
  outline: none;
}
/* Sidebar Subnavigation */
#portalSidebar #portalNavigationInner {
  padding:0; 
  background-color: transparent;
}
#portalSidebar .fl-widget .fl-listmenu li.fl-activemenu .portal-subnav-list a {
  padding-left: 40px; 
  padding-bottom: 7px; 
  background-position: 1.7em 0.5em;
  font-size: 83%;
}
/* Sidebar Navigation: Icons */
#portalSidebar #portalNavigation .portal-navigation-add,
#portalSidebar #portalNavigation .portal-navigation-delete,
#portalSidebar #portalNavigation .portal-navigation-gripper {
  display: none;
}
#portalSidebar #portalNavigation .active .portal-navigation-gripper {
  display: block; 
  position: absolute; 
  text-decoration: none; 
  border: none;
}
#portalSidebar #portalNavigation .portal-navigation-add:hover,
#portalSidebar #portalNavigation .portal-navigation-delete:hover {
  background-position: 0px -16px;
}
#portalSidebar #portalNavigation .portal-navigation-delete,
#portalSidebar #portalNavigation .portal-navigation-delete span,
#portalSidebar #portalNavigation .active .portal-navigation-gripper,
#portalSidebar #portalNavigation .active .portal-navigation-gripper span {
  display: block; 
  width: 16px; 
  height: 16px; 
  overflow: hidden;
}
#portalSidebar #portalNavigation .active .portal-navigation-delete span,
#portalSidebar #portalNavigation .active .portal-navigation-gripper span {
  visibility: hidden;
}
#portalSidebar #portalNavigation .portal-navigation-add {
  height: 16px; 
  top: 1px; 
  left: auto; 
  right: 2px; 
  padding: 0px 0px 0px 16px;
  color: #000;
  text-transform: capitalize;
  background: transparent url("../images/add.png") 0px 0px no-repeat;
}
#portalSidebar #portalNavigation .active .portal-navigation-gripper {
  top: 0px; 
  left: auto; 
  right: 18px; 
  cursor: move; 
  background: transparent url("../images/gripper.png") 0px 0px no-repeat; 
  padding: 0;
}
#portalSidebar #portalNavigation .portal-navigation-delete {
  top: 0px; 
  right: 0px; 
  cursor: pointer; 
  background: transparent url("../images/remove.png") 0px 0px no-repeat; 
  padding: 0;
}

/* Fluid Layout Customizer (Sidebar: drag and drop) */
/* Avatar Icons (common) */
.fl-reorderer-sidebar-avatar .portal-navigation-delete,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper {
  display: block; 
  position: absolute; 
  padding: 0; 
  border: none; 
  text-decoration: none;
}
.fl-reorderer-sidebar-avatar .portal-navigation-delete,
.fl-reorderer-sidebar-avatar .portal-navigation-delete span,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper span {
  display: block; 
  width: 16px; 
  height: 16px; 
  overflow: hidden;
}
.fl-reorderer-sidebar-avatar .portal-navigation-delete span,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper span {
  visibility: hidden;
}
/* Avatar */
.fl-reorderer-sidebar-avatar {
  display: inline; 
  position: relative; 
  padding: 5px 0 5px 20px; 
  width: 150px; 
  height: 30px; 
  overflow: hidden; 
  cursor: pointer; 
  background-color: #FFF; 
  border: 2px solid #F68922; 
  filter:alpha(opacity=70); 
  opacity:.7;
}
.fl-reorderer-sidebar-avatar .portal-navigation-link {
  color: #222222 !important; 
  text-decoration: none;
}
.fl-reorderer-sidebar-avatar .portal-navigation-delete {
  top: 0px; 
  right: 0px; 
  cursor: pointer; 
  background: transparent url("../images/remove.png") 0px 0px no-repeat;
}
.fl-reorderer-sidebar-avatar .portal-navigation-gripper {
  top: 0px; 
  left: auto; 
  right: 18px; 
  cursor: move; 
  background: transparent url("../images/gripper.png") 0px 0px no-repeat;
}
.fl-reorderer-sidebar-avatar .portal-flyout-container, 
.up .fl-reorderer-sidebar-avatar .portal-subnav-list { 
  display: none !important;
}
/* Drop Marker */
.fl-reorderer-sidebar-dropMarker {
  display: inline-block;
  border: 1px solid #d26600 !important; 
  background-color: #F68922 !important; 
  margin: 0 2px !important; 
  filter:alpha(opacity=80) !important;
  opacity:.8 !important; 
  padding: .31em 1em !important; 
  *display: inline !important; 
  *height: 10px; 
  *padding: 0em .13em !important; 
  *zoom: 1 !important;
}

#portalSidebar {
  /* Refer to other Sidebar styles for general list menu styling that affects the sidebar navigation. */
}
#portalSidebar #portalNavigation {
  /* Main navigation can be rendered in the Sidebar. */
}
#portalSidebar #portalNavigation .portal-navigation-add {
  /* Add tab link */
  color: white;
}
#portalSidebar #portalNavigation .portal-navigation-gripper {
  /* Gripper for indicating drag and drop ability. */
  background: transparent url("images/gripper.png") 0px 0px no-repeat;
}
#portalSidebar #portalNavigation .portal-navigation-delete {
  /* "X" icon for indicating delete tab action. */
  background: transparent url("images/remove.png") 0px 0px no-repeat;
}
#portalSidebar #portalNavigation .fl-reorderer-sidebar-avatar {
  /* An avatar of the original tab being dragged during drag and drop. */
  background: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px, 0px, 4px, #333333;
  -webkit-box-shadow: 0px, 0px, 4px, #333333;
  box-shadow: 0px, 0px, 4px, #333333;
}
#portalSidebar #portalNavigation .fl-reorderer-sidebar-avatar .portal-navigation-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#portalSidebar #portalNavigation .fl-reorderer-sidebar-avatar .portal-navigation-delete {
  background: transparent url("images/remove.png") 0px 0px no-repeat;
}
#portalSidebar #portalNavigation .fl-reorderer-sidebar-avatar .portal-navigation-gripper {
  background: transparent url("images/gripper.png") 0px 0px no-repeat;
}
#portalSidebar #portletNavigation {
  /* Portlet Navigation (focused view) */
}
#portalSidebar #portletNavigation h3 {
  color: white;
  margin:0.5em 0 0 0;
  padding:0.2em 0.5em;
}

/*====================================*/
/* Sidebar */
/*====================================*/
/*
 * Styles for formatting the portal sidebar and widgets that are contained in it.
 */
#portalSidebar {
  /* A persistent sidebar that can contain widgets.  */
}
#portalSidebar #portalSidebarInner {
  padding: 0 0 0 15px;
}
#portalSidebar .fl-widget {
  /* General formatting for sidebar widgets */
  border: 1px solid #121416;
  background: #282d33 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
  background-image: -moz-linear-gradient(top, #6b7989, #282d33);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6b7989), color-stop(1, #282d33));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6b7989', EndColorStr='#282d33')";
  background-image: linear-gradient(top, #6b7989, #282d33);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#portalSidebar .fl-widget .fl-widget-titlebar h2 {
  padding: 0;
  color: #b2cce1;
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
}
#portalSidebar .fl-widget .fl-widget-content {
  background: #38678f;
  color: #b2cce1;
  border: 1px solid #282d33;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu {
  background: #38678f;
  border: 1px solid #38678f;
}
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu a {
  text-decoration: none;
}
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu li {
  border: 1px solid #38678f;
}
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu li, 
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu li a {
  color: #b2cce1;
}
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu li:hover, 
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu li:focus, 
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu li a:hover, 
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu li a:focus {
  background-color: #a85608;
  color: white;
}
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu .fl-activemenu .portal-subnav-list a {
  background: #294d6b;
  color: #8db3d3;
}
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu .fl-activemenu .portal-subnav-list a:hover, 
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu .fl-activemenu .portal-subnav-list a:focus {
  background: #783d05;
  color: white;
}
#portalSidebar #portalFragAdminList .fl-widget-content {
  /* This sidebar widget does not have a list menu and needs some padding. */
  padding: 1em 12px;
}