#portalQuicklinks ul, 
#portalQuicklinks li {
  margin: 0;
  padding: 0;
}
#portalSidebar {
  padding: 0;
}
#portalSidebarInner {
  padding: 0 0 0 15px;
}
#portalSidebar .fl-widget {
  padding: 7px;
  font-size: 85%;
  border: 1px solid #121416;
  background: #282d33 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
  background-image: -moz-linear-gradient(top, #6b7989, #282d33);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6b7989), color-stop(1, #282d33));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6b7989', EndColorStr='#282d33')";
  background-image: linear-gradient(top, #6b7989, #282d33);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#portalSidebar .fl-widget .fl-widget-content {
  background: #38678f;
  color: #b2cce1;
  border: 1px solid #282d33;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#portalSidebar .fl-widget .fl-widget-titlebar { 
  margin: 0;
}
#portalSidebar .fl-widget .fl-widget-titlebar h2 {
  border: none;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  color: #b2cce1;
}
#portalSidebar .fl-widget .fl-listmenu {
  background: #38678f;
  border: 1px solid #38678f;
}
#portalSidebar .fl-widget-content,
#portalSidebar .fl-widget .fl-listmenu {
  padding: .1em; 
  border-width: 0; 
  border-bottom-width: 1px;
}
#portalSidebar .fl-widget .fl-listmenu ul {
  margin: 0;
}
#portalSidebar .fl-widget .fl-listmenu li {
  position: relative;
  border: 1px solid #38678f;
}
#portalSidebar .fl-widget .fl-listmenu li.first {
  border-left: none;
}
#portalSidebar .fl-widget .fl-listmenu li, 
#portalSidebar .fl-widget .fl-listmenu li a {
  color: #b2cce1;
}
#portalSidebar .fl-widget .fl-listmenu a {
  padding-left: 28px;
  background-image: url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/application.png);
  background-position: 0.5em 0.5em; 
  background-repeat: no-repeat;
  text-decoration: none;
}
#portalSidebar #portletNavigationLinkHome a {
  background-image: url(/ResourceServingWebapp/rs/famfamfam/silk/1.3/house.png);
}
#portalSidebar .fl-widget .fl-listmenu li a:hover, 
#portalSidebar .fl-widget .fl-listmenu li a:focus {
  background-color: #a85608;
  color: white;
}

// Fragment Admin
#portalSidebar #portalFragAdminList .fl-widget-content {
  /* This sidebar widget does not have a list menu and needs some padding. */
  padding: 1em 12px;
}

// Subnav
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu .fl-activemenu .portal-subnav-list a {
  background: #294d6b;
  color: #8db3d3;
  padding-left: 40px; 
  padding-bottom: 7px; 
  background-position: 1.7em 0.5em;
  font-size: 83%;
}
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu .fl-activemenu .portal-subnav-list a:hover, 
#portalSidebar .fl-widget .fl-widget-content .fl-listmenu .fl-activemenu .portal-subnav-list a:focus {
  background: #783d05;
  color: white;
}


// Sidebar Navigation
#portalSidebar #portalNavigationInner {
  padding:0; 
  background-color: transparent;
}
#portalSidebar #portletNavigation h3 {
  color: white;
  margin:0.5em 0 0 0;
  padding:0.2em 0.5em;
}
#portalSidebar #portalNavigation .portal-navigation-add,
#portalSidebar #portalNavigation .portal-navigation-delete,
#portalSidebar #portalNavigation .portal-navigation-gripper {
  display: none;
}
#portalSidebar #portalNavigation .active .portal-navigation-gripper {
  display: block; 
  position: absolute; 
  text-decoration: none; 
  border: none;
  top: 0; 
  left: auto; 
  right: 18px; 
  cursor: move; 
  background: transparent url("../images/gripper.png") 0px 0px no-repeat; 
  padding: 0;
}
#portalSidebar #portalNavigation .portal-navigation-delete {
  top: 0; 
  right: 0; 
  cursor: pointer; 
  background: transparent url("../images/remove.png") 0px 0px no-repeat; 
  padding: 0;
}
#portalSidebar #portalNavigation .portal-navigation-add {
  height: 16px; 
  top: 1px; 
  left: auto; 
  right: 2px; 
  padding: 0px 0px 0px 16px;
  color: #FFF;
  text-transform: capitalize;
  background: transparent url("../images/add.png") 0px 0px no-repeat;
}

// Avatar
.fl-reorderer-sidebar-avatar {
  display: inline; 
  position: relative; 
  padding: 5px 0 5px 20px; 
  width: 150px; 
  height: 30px; 
  overflow: hidden; 
  cursor: pointer; 
  filter:alpha(opacity=70); 
  opacity:.7;
  background: black;
  border: 2px solid #F68922; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px, 0px, 4px, #333333;
  -webkit-box-shadow: 0px, 0px, 4px, #333333;
  box-shadow: 0px, 0px, 4px, #333333;
}
.fl-reorderer-sidebar-avatar .portal-navigation-link {
  color: #222222 !important; 
  text-decoration: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.fl-reorderer-sidebar-avatar .portal-navigation-delete {
  top: 0px; 
  right: 0px; 
  cursor: pointer; 
  background: transparent url("../images/remove.png") 0px 0px no-repeat;
}
.fl-reorderer-sidebar-avatar .portal-navigation-gripper {
  top: 0px; 
  left: auto; 
  right: 18px; 
  cursor: move; 
  background: transparent url("../images/gripper.png") 0px 0px no-repeat;
}
.fl-reorderer-sidebar-avatar .portal-navigation-delete,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper {
  display: block; 
  position: absolute; 
  padding: 0; 
  border: none; 
  text-decoration: none;
}
#portalSidebar #portalNavigation .portal-navigation-add:hover,
#portalSidebar #portalNavigation .portal-navigation-delete:hover {
  background-position: 0px -16px;
}
.fl-reorderer-sidebar-avatar .portal-navigation-delete,
.fl-reorderer-sidebar-avatar .portal-navigation-delete span,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper,
.fl-reorderer-sidebar-avatar .portal-navigation-gripper span {
  display: block; 
  width: 16px; 
  height: 16px; 
  overflow: hidden;
}
#portalSidebar #portalNavigation .portal-navigation-delete span,
#portalSidebar #portalNavigation .portal-navigation-gripper span {
  visibility: hidden;
}
.fl-reorderer-sidebar-avatar .portal-flyout-container, 
.up .fl-reorderer-sidebar-avatar .portal-subnav-list { 
  display: none !important;
}
.fl-reorderer-sidebar-dropMarker {
  display: inline-block;
  border: 1px solid #d26600 !important; 
  background-color: #F68922 !important; 
  margin: 0 2px !important; 
  filter:alpha(opacity=80) !important;
  opacity:.8 !important; 
  padding: .31em 1em !important; 
  *display: inline !important; 
  *height: 10px; 
  *padding: 0em .13em !important; 
  *zoom: 1 !important;
}