a {
  color: #5a95cf; 
  
  &:hover {
    color: #6DB5FB;
  }
}
h2 {
  color: #5a95cf;
}
th {
  border: .1em solid #5a95cf;
  background-color: #dfefff;
}
td {
  border: .1em solid #999;
}

#portal {
  border-color: #4070a1;
  background: #a9a9a9;
  background-image: -moz-linear-gradient(top, #c3c3c3, #8f8f8f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c3c3c3), color-stop(1, #8f8f8f));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c3c3c3', EndColorStr='#8f8f8f')";
  background-image: linear-gradient(top, #c3c3c3, #8f8f8f);
}

#portalPageInner {
  background: #FFFFFF;
  border-left: 1px solid #8f8f8f;
  border-right: 1px solid #8f8f8f;
}

#portalPageHeader {
  background: #4682b4;
  background-image: -moz-linear-gradient(top, #699bc4, #38678f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #699bc4), color-stop(1, #38678f));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#699bc4', EndColorStr='#38678f')";
  background-image: linear-gradient(top, #699bc4, #38678f);
}

// Default form elements
form input[type='text'], 
form input[type='email'], 
form input[type='tel'], 
form input[type='url'], 
form input[type='search'], 
form input[type='password'], 
form select, 
form textarea {
  font-family: serif;
  border: 1px solid #a9a9a9;
  font-size: 14px;
}
form input[type='text'], 
form input[type='email'], 
form input[type='tel'], 
form input[type='url'], 
form input[type='search'], 
form input[type='password'], 
form textarea {
  padding: 0.2em 0.4em;
  line-height: 1.4;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
}
form select {
  padding: 0.1em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
}
form select:focus, 
form input[type='text']:focus, 
form input[type='email']:focus, 
form input[type='tel']:focus, 
form input[type='url']:focus, 
form input[type='search']:focus, 
form input[type='password']:focus, 
form select:focus, 
form textarea:focus {
  -moz-box-shadow: 0 0 10px #699bc4;
  -webkit-box-shadow: 0 0 10px #699bc4;
  box-shadow: 0 0 10px #699bc4;
  outline: none;
}

// Default buttons
.button, 
button, 
input[type='submit'], 
input[type='button'] {
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  border-radius: 0.6em;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0, 1px, 3px, rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0, 1px, 3px, rgba(0, 0, 0, 0.5);
  box-shadow: 0, 1px, 3px, rgba(0, 0, 0, 0.5);
  background-image: -moz-linear-gradient(top, #CCCCCC, #555555);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CCCCCC), color-stop(1, #555555));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#CCCCCC', EndColorStr='#555555')";
  background-image: linear-gradient(top, #CCCCCC, #555555);
  
  &:hover,
  &:focus {
    border-color: #294d6b;
    background: #699bc4;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #8db3d3, #294d6b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8db3d3), color-stop(1, #294d6b));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8db3d3', EndColorStr='#294d6b')";
    background-image: linear-gradient(top, #8db3d3, #294d6b);
  }
  &:active {
    border-color: #294d6b;
    background: #4682b4;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
    background-image: linear-gradient(top, #4682b4, #294d6b);
  }
}

// Login
#portalLogin .button {
  border-color: #d96f0a;
  background: #f58821;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  background-image: -moz-linear-gradient(top, #f7a252, #d96f0a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7a252), color-stop(1, #d96f0a));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7a252', EndColorStr='#d96f0a')";
  background-image: linear-gradient(top, #f7a252, #d96f0a);
  
  &:hover,
  &:focus {
    border-color: #d96f0a;
    background: #f7a252;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #f9bc83, #d96f0a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9bc83), color-stop(1, #d96f0a));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9bc83', EndColorStr='#d96f0a')";
    background-image: linear-gradient(top, #f9bc83, #d96f0a);
  }
  &:active {
    border-color: #d96f0a;
    background: #f7a252;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #f9bc83, #08180f);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9bc83), color-stop(1, #08180f));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9bc83', EndColorStr='#08180f')";
    background-image: linear-gradient(top, #f9bc83, #08180f);
  }
}

// Welcome
#portalWelcome {
  color: #b2cce1;
}
#portalWelcome .user-name {
  color: #FFFFFF;
}

#portalPageBar {
  color: #b2cce1;
  text-transform: uppercase;
  background: #294d6b;
  background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
  background-image: linear-gradient(top, #4682b4, #294d6b);
}
#portalPageBarLinks li {
  border-right: 1px solid rgba(178, 204, 225, 0.25);
}
#portalPageBarLinks a {
  color: #b2cce1;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: white;
    text-decoration: underline;
  }
}

// Search
#webSearchInput,
#webSearchSubmit {
  color: #444444;
  background: #699bc4;
  border-color: #38678f;
  -moz-border-radius: 0.6em 0 0 0.6em;
  -webkit-border-top-left-radius: 0.6em;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0.6em;
  border-radius: 0.6em 0 0 0.6em;
  
  &:hover {
    background: #8db3d3;
  }
  &:focus {
    color: #444444;
    background: white;
    border-color: white;
  }
}
#webSearchSubmit {
  border-color: #294d6b;
  background: #4682b4;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  background-image: -moz-linear-gradient(top, #4682b4, #294d6b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4682b4), color-stop(1, #294d6b));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4682b4', EndColorStr='#294d6b')";
  background-image: linear-gradient(top, #4682b4, #294d6b);
  -moz-border-radius: 0 0.6em 0.6em 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0.6em;
  -webkit-border-bottom-right-radius: 0.6em;
  -webkit-border-bottom-left-radius: 0;
  border-radius: 0 0.6em 0.6em 0;
  
  &:hover,
  &:focus {
    border-color: #a85608;
    background: #f7a252;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #f9bc83, #d96f0a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9bc83), color-stop(1, #d96f0a));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9bc83', EndColorStr='#d96f0a')";
    background-image: linear-gradient(top, #f9bc83, #d96f0a); 
  }
  &:active {
    border-color: #a85608;
    background: #d96f0a;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #d96f0a, #f7a252);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d96f0a), color-stop(1, #f7a252));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d96f0a', EndColorStr='#f7a252')";
    background-image: linear-gradient(top, #d96f0a, #f7a252);
  }
}

// Navigation
#portalNavigation {
  background: #282d33;
  background-image: -moz-linear-gradient(top, #3e4650, #121416);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3e4650), color-stop(1, #121416));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3e4650', EndColorStr='#121416')";
  background-image: linear-gradient(top, #3e4650, #121416);
}
#portalNavigation .portal-navigation {
  /* Each tab list item. */
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background: #282d33;
  background-image: -moz-linear-gradient(top, #282d33, #3e4650, #3e4650 50%, #121416 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#282d33), to(#3e4650), color-stop(0.5, #3e4650), color-stop(0.5, #121416));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#282d33', EndColorStr='#121416')";
  background-image: linear-gradient(top, #282d33, #3e4650, #3e4650 50%, #121416 0%);
}
#portalNavigation .portal-navigation .portal-navigation-link {
  /* Anchor tag within the list item. */
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  font-weight: bold;
}
#portalNavigation .portal-navigation:hover, 
#portalNavigation .portal-navigation:focus {
  background: #3e4650;
  background-image: -moz-linear-gradient(top, #3e4650, #6b7989, #6b7989 50%, #282d33 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3e4650), to(#6b7989), color-stop(0.5, #6b7989), color-stop(0.5, #282d33));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3e4650', EndColorStr='#282d33')";
  background-image: linear-gradient(top, #3e4650, #6b7989, #6b7989 50%, #282d33 0%);
}
#portalNavigation .portal-navigation:hover .portal-navigation-link, 
#portalNavigation .portal-navigation:focus .portal-navigation-link {
  /* Anchor tag within the list item. */
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
}
#portalNavigation .active {
  background: #f58821;
  background-image: -moz-linear-gradient(top, #f58821, #f7a252, #f7a252 50%, #d96f0a 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58821), to(#f7a252), color-stop(0.5, #f7a252), color-stop(0.5, #d96f0a));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f58821', EndColorStr='#d96f0a')";
  background-image: linear-gradient(top, #f58821, #f7a252, #f7a252 50%, #d96f0a 0%);
}
#portalNavigation .active .portal-navigation-link {
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
}
#portalNavigation .active:hover {
  background: #f7a252;
  background-image: -moz-linear-gradient(top, #f7a252, #fcd6b3, #fcd6b3 50%, #f58821 0%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7a252), to(#fcd6b3), color-stop(0.5, #fcd6b3), color-stop(0.5, #f58821));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7a252', EndColorStr='#f58821')";
  background-image: linear-gradient(top, #f7a252, #fcd6b3, #fcd6b3 50%, #f58821 0%);
}
#portalNavigation .active:hover .portal-navigation-link {
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
}
#portalNavigation .portal-flyout-container {
  /* Flyout menus. */
  background: #282d33;
  background-image: -moz-linear-gradient(top, false, false);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, false), color-stop(1, false));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='false', EndColorStr='false')";
  background-image: linear-gradient(top, false, false);
  border: 4px solid #121416;
  border-top-width: 1px;
  -moz-border-radius: 0 0 0.6em 0.6em;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0.6em;
  -webkit-border-bottom-left-radius: 0.6em;
  border-radius: 0 0 0.6em 0.6em;
  -moz-box-shadow: 2px 4px 6px #767676;
  -webkit-box-shadow: 2px 4px 6px #767676;
  box-shadow: 2px 4px 6px #767676;
}
#portalNavigation .portal-flyout-container li {
  border-top: 1px solid #282d33;
  background-color: white;
  color: #121416;
  font-size: 85%;
}
#portalNavigation .portal-flyout-container li a {
  text-decoration: none;
}
#portalNavigation .portal-flyout-container li a:hover, 
#portalNavigation .portal-flyout-container li a:focus {
  background: #38678f;
  color: white;
}
#portalNavigation .portal-navigation-add {
  border: 1px solid #3e4650;
  color: white;
  font-size: 86%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 4px;
  right: 2em;
  padding: 4px 8px 2px 20px;
  background: url("../common/images/add.png") no-repeat 5px 5px;
}
#portalNavigation .portal-navigation-add:hover, 
#portalNavigation .portal-navigation-add:focus {
  background-color: #3e4650;
  color: white;
}
#portalNavigation li.portal-navigation-add-item {
  background: transparent none;
  border: 0;
}
#portalNavigation .fl-reorderer-header-avatar {
  background-color: black;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px, 0px, 4px, #333333;
  -webkit-box-shadow: 0px, 0px, 4px, #333333;
  box-shadow: 0px, 0px, 4px, #333333;
}
#portalNavigation .fl-reorderer-header-avatar .portal-navigation-link {
  color: white;
  font-weight: bold;
}

// Page title
#portalPageBodyTitleRow h1 {
  color: #4070a1;
  border-bottom-width: .2em;
  border-bottom-style: solid;
}

// Portlet Chrome
.up-portlet-wrapper {
  background: #f5f5f5 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
  background-image: -moz-linear-gradient(top, white, #f5f5f5 65px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#f5f5f5), color-stop(0.1, white));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#f5f5f5')";
  background-image: linear-gradient(top, white, #f5f5f5 65px);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  
  // Alternate
  &.alternate {
    background: #b2cce1 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
    border: 1px solid #699bc4;
    background-image: -moz-linear-gradient(top, white, #b2cce1 65px);
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#b2cce1), color-stop(0.1, white));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#b2cce1')";
    background-image: linear-gradient(top, white, #b2cce1 65px);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    
    .up-portlet-titlebar h2 {
      @include links(#38678f, #4682b4) {
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
      }
    }
    .up-portlet-content-wrapper {
      background: white;
      border: 1px solid #699bc4;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }
  
  // Highlight
  &.highlight {
    /* A portlet that has been flagged to have the highlight styling of portlet chrome. */
    background: #a85608 url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
    border: 1px solid #a85608;
    background-image: -moz-linear-gradient(top, #f58821, #a85608 65px);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f58821), to(#a85608), color-stop(0.1, #f58821));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f58821', EndColorStr='#a85608')";
    background-image: linear-gradient(top, #f58821, #a85608 65px);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    
    .up-portlet-titlebar h2 {
      @include links(#783d05, #f9bc83) {
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
      }
    }
    .up-portlet-content-wrapper {
      background: #fcd6b3;
      border: 1px solid #a85608;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }
  
  // Locked
  &.locked {
    /* A portlet that has been locked (cannot be moved or removed). */
    background: #dcdcdc url("../common/images/light_top_100px_50.png") 0px 0px repeat-x;
    border: 1px solid #a9a9a9;
    background-image: -moz-linear-gradient(top, #f5f5f5, #dcdcdc 65px);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dcdcdc), color-stop(0.1, #f5f5f5));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#dcdcdc')";
    background-image: linear-gradient(top, #f5f5f5, #dcdcdc 65px);
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    
    .up-portlet-titlebar h2 {
      padding-left: 21px;
      background: transparent url("/ResourceServingWebapp/rs/tango/0.8.90/16x16/emblems/emblem-readonly.png") 0 0 no-repeat;
      
      @include links(#8f8f8f, #4682b4) {
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
      }
    }
    .up-portlet-content-wrapper {
      background: white;
      border: 1px solid #a9a9a9;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }
}
.up-portlet-titlebar h2 {
  text-transform: uppercase;
  
  @include links(#a9a9a9, #4682b4) {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  }
}
.up-portlet-content-wrapper {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.up-portlet-wrapper-top,
.up-portlet-wrapper-bottom {
  /* These extra containers are available for additional styling (like rounded corners with images). 
   * This skin does not use them, so hide them from view. */
  display: none;
}

// Portlet Controls
.up-portlet-controls {
  @include links(#4682b4, #294d6b);
}

/* Customize Page Message */
#portalPageBodyCustomizeMessageRow {
  padding-top: 4px;
  margin-top: -4px; 
  background: transparent url("images/customize_message_arrow.png") 40px 0px no-repeat;
}
#portalPageBodyCustomizeMessageRowContents {
  padding: 10px 20px;
  border-color: #f58821;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
#portalPageBodyCustomizeMessageRowContents h1 {
  color: #333333;
}

// Alert
#portalHeaderBlock {
  background: #294d6b;
}

// Fragment Admin
#portalFragAdminExit {
  background: #fcd6b3;
  border-bottom: 1px solid #f58821;
}
#portalFragAdminExit h2 {
  color: #f58821;
  font-size: 150%;
}
#portalFragAdminExit {
  background: #fcd6b3;
}
#portalFragAdminExit .button {
  border-color: #d96f0a;
  background: #f58821;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
  background-image: -moz-linear-gradient(top, #f7a252, #d96f0a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7a252), color-stop(1, #d96f0a));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7a252', EndColorStr='#d96f0a')";
  background-image: linear-gradient(top, #f7a252, #d96f0a);
  
  &:hover,
  &:focus {
    border-color: #d96f0a;
    background: #f7a252;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #f9bc83, #d96f0a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9bc83), color-stop(1, #d96f0a));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9bc83', EndColorStr='#d96f0a')";
    background-image: linear-gradient(top, #f9bc83, #d96f0a);
  }
  &:active {
    border-color: #d96f0a;
    background: #f7a252;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);
    background-image: -moz-linear-gradient(top, #f9bc83, #08180f);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9bc83), color-stop(1, #08180f));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9bc83', EndColorStr='#08180f')";
    background-image: linear-gradient(top, #f9bc83, #08180f);
  }
}

// Footer
#portalPageFooter {
  background: #282d33;
  color: #767676;
  @include links(#a9a9a9, #699bc4);
}
#portalPageFooterNav {
  background: #1E2126;
}
#portalPageFooterNav div > a {
  color: #FFFFFF;
}
#portalPageFooterLinks {
  @include links(#FFFFFF, #699bc4) {
    font-weight: bold;
  }
}
#portalProductAndVersion {
  background: transparent url("../common/images/portal_poweredby.png") no-repeat top left;
}
#portalProductAndVersion,
#portalCopyright,
#silkIconsAttribution {
  padding-left: 120px;
}
